<%-include ("partials/header_1.ejs") %>
<div class="maindiv text-center about_det text-wrap">
    <h1 id="about_heading">About The Application! ❤️</h1>
    <h4>
        Our app helps you keep track of your loved ones' birthdays, so you never miss a chance to wish them a happy birthday. Simply add the birthdays of your close ones, and the app will send you reminders so you never forget to celebrate their special day.

Our goal is to make it easy for you to stay connected with your loved ones, even when life gets busy. So, try our app today and never miss a birthday celebration!
    </h4>

    <h3 id="about_bottom">Made with ❤️ by Naveen Varatharaj</h3>

</div>