<%- include("partials/header_1") -%>

<h2 id="login_heading">Add Birthdays of your closest ones⚡</h2>

<div class="login user_login container">
    <form action="/compose" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="name" name="personName">
        <label for="name">Person Name</label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="date" placeholder="date" name="birthdayDate" >
        <label for="date">Date of Birth</label>
      </div>

      <select class="form-select form-select-md mb-3" name="relType" aria-label=".form-select-lg example" >
        <option selected>Relationship Type</option>
        <option value="Friend">Friend</option>
        <option value="Son">Son</option>
        <option value="Daughter">Daughter</option>
        <option value="Relative">Relative</option>
        <option value="Cousin">Cousin</option>
        <option value="Brother">Brother</option>
        <option value="Sister">Sister</option>
        <option value="Teacher">Teacher</option>
        <option value="Other">Other</option>


      </select>

      <div class="button_save">
        <button class="btn btn-danger btn-md" type="submit " name="buton ">
          Save Birthday!
        </button>
      </div>
    </form>
</div>




