<%-include ("partials/header.ejs") %>


<section id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2 id="tophead">Never miss birthdays of your closest one! Use Greetify to wish them a Happy Birthday ✨🙌
        </h2>
        <button class="btn btn-lg btn-danger write_now" onclick = "location.href='/signup'">Start using the App 🚀</button> <br> <br>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="imagetop">
          <img src="/Images/Bday.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  body{
    overflow: hidden;
  }
</style>